{{- $cover := .Site.Data.cover -}}
{{- $config := .Site.Data.config -}}
<section class="main" style="background-image:url('{{ .Site.BaseURL }}img/{{ $cover.backgroundImage }}')"> 
  <div class="container">
    <div>
      <div class="d-flex">
        <img src="{{- .Site.BaseURL -}}img/{{- $config.logo -}}" width="60px" alt="">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <span class="font-weight-bold align-middle">
          <h3>{{- $config.name -}}</h3>
        </span>
      </div>
      
      <h1 class="font-weight-bold">{{- $cover.heading -}}</h1>
      <p>{{- $cover.description -}}</p>

      {{- if $cover.showAppBanners -}}
      <div id="store-banners">
        <!--<a target="_blank" href="{{- $config.appLinks.appStore -}}">
          <img src="{{- .Site.BaseURL -}}img/store-banners/appstore.svg" alt="">
        </a>-->
     
        <a target="_blank" href="{{- $config.appLinks.playStore -}}">
          <img src="{{- .Site.BaseURL -}}img/store-banners/playstore.svg" alt="">
        </a>
      </div>
      {{- end -}}
    </div>
    <div class="device-mockup-holder">
      <picture>
        <div class="phone-illustration-holder">
          <img src="{{- .Site.BaseURL -}}img/device-frame.svg" alt="">
          <div class="product-image">
            <img src="{{- .Site.BaseURL -}}img/screenshots/{{- $cover.screenshot -}}" alt="">
          </div>
        </div>
      </picture>
    </div>
  </div>
</section>

